{% extends 'base.html.twig' %}

{% block content %}

<h1> Page de detail </h1>
<p> Modification de l'etat du materiel</p>
<p> description du materiel avec son emplacements etc... </p>
<p> Les derniers changements effectue sur celui-ci </p>


{% endblock %}


